.prod-img {
  width: 150px;
  height: 150px;
}

.badge-stock{
  font-size: 2rem;
  color: red;
}
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 2em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    }